<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros Productos</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">La pizza es un plato italiano que consiste en una base generalmente redonda y aplanada de
                            masa a base de trigo con levadura cubierta con tomates, queso y, a menudo, varios otros
                            ingredientes, que luego se cuece a alta temperatura, tradicionalmente en horno de leña.
                            Una pizza pequeña a veces se llama pizzetta.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani es un plato de arroz mixto. Se elabora con especias de la India, arroz y
                            carne generalmente la de pollo, pescado y, a veces, además, huevos o verduras como
                            papas en ciertas variedades regionales.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">La pasta es un tipo de comida típicamente hecha de una masa de trigo sin levadura.
                            harina mezclada con agua o huevos, y formada en láminas u otras formas, luego cocinada por
                            hervir o hornear.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Postre</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Entre nuestros diferentes postres destaca el pastel de chocolate fundido. es un postre popular que combina los elementos de un
                            pastel de chocolate y soufflé. Su nombre deriva del centro de chocolate líquido del postre,
                            y también se le conoce como moelleux de chocolate, pastel de lava de chocolate o simplemente pastel de lava.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Forma Parte
                        <br />
                        De nuestro
                        <br />
                        Equipo
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>