<div class="bg-image"></div>
<app-carta></app-carta>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Voodo Restaurante
    </a>
    <ul>
      <li>
        <a (click)="handleIniciarSesionAction()">Iniciar Sesión</a>
      <a (click)="handleRegistrarAction()">Registrar</a>
      <a (click)="handleOlvidarPasswordAction()"> ¿Olvidaste Contraseña?</a>
    </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Todoslos derechos reservados</h2>
</div>