<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Cambiar Contraseña</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="cambiarPasswordForm">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Vieja Contraseña</mat-label>
                <input matInput formControlName="viejaPassword" required [type]="viejaPassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="viejaPassword = !viejaPassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="viejaPassword">
                    <mat-icon>{{viejaPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="cambiarPasswordForm.controls.viejaPassword.touched && cambiarPasswordForm.controls.viejaPassword.invalid">
                    <span *ngIf="cambiarPasswordForm.controls.viejaPassword.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput formControlName="nuevaPassword" required [type]="nuevaPassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="nuevaPassword = !nuevaPassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="nuevaPassword">
                    <mat-icon>{{nuevaPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="cambiarPasswordForm.controls.nuevaPassword.touched && cambiarPasswordForm.controls.nuevaPassword.invalid">
                    <span *ngIf="cambiarPasswordForm.controls.nuevaPassword.errors.required">Este campo es obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput formControlName="confirmarPassword" required [type]="confirmarPassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="confirmarPassword = !confirmarPassword" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="confirmarPassword">
                    <mat-icon>{{confirmarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="cambiarPasswordForm.controls.confirmarPassword.touched && cambiarPasswordForm.controls.confirmarPassword.invalid">
                    <span *ngIf="cambiarPasswordForm.controls.confirmarPassword.errors.required">Este campo es obligatorio</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(cambiarPasswordForm.controls.confirmarPassword.invalid)">
                    <span>Nueva contraseña y confirmar contraseña no coinciden </span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button  type="submit" (click)="handlePasswordChangeSubmit()"[disabled]="validateSubmit() || !(cambiarPasswordForm.valid && cambiarPasswordForm.dirty)">
        <mat-icon>save</mat-icon> Actualizar
    </button>
    <button mat-raised-button color="warn" mat-dialog-close=""><mat-icon>cancel</mat-icon>Cerrar</button>
</mat-dialog-actions>
