<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Contraseña Olvidada</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content class="mat-typography">
    <form [formGroup]="olvidarPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="olvidarPasswordForm.controls.email.touched && olvidarPasswordForm.controls.email.invalid">
                    <span *ngIf="olvidarPasswordForm.controls.email.errors.required">Este campo es obligatorio</span>
                    <span  *ngIf="olvidarPasswordForm.controls.email.errors.pattern">Este campo es invalido</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(olvidarPasswordForm.valid && olvidarPasswordForm.dirty)">
        <mat-icon>send</mat-icon>Enviar contraseña
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Cerrar</button>
</mat-dialog-actions>