.mat-toolbar{
    margin:auto;
    width:550px;
    color:white;
    background-color: #7b1fa2;
}

.mat-form-field{
    padding: 100px;

    
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
